* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
}

.header {
    position: absolute;
    color: rgb(250, 196, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.nowrap {
    white-space: nowrap;
    display: block;
    font-size: 3rem;
}

.hero-1, .hero-2 {
    width: 100%;
    height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }